//BUTTONS
.call-action {
  padding: .5em 0;
  border-top: 1px solid $lightgray;
}
.btn {
  transition: .2s all ease-out;
  display: inline-block;
  vertical-align: middle;
  padding: .9em .4em;
  box-sizing: border-box;
  outline: none;
  background-color: $lightgray;
  color: $black;
  border-radius: 3px;
  border: 0;
  margin: 0 .1em;
  border: 1px solid $gray;
  letter-spacing: .05em;
  font-weight: 300;
  cursor: pointer;
  &:hover {
    background-color: $darkgray;
    color: $white;
  }
  &.disabled {
    background-color: $gray !important;
    box-shadow: inset 1px 1px 1px rgba(darken($gray,10%), 1) !important;
    text-shadow: -1px -1px 1px darken($gray,10%) !important;
    color: lighten($gray,15%) !important;
  }
  &.circle {

  }
  &.basic {
    background-color: $darkestgray;
    color: $white;
    border: 0;
    box-shadow: 0px 1px 1px 0px rgba($pureblack, .8);
    position: relative;
    &.bordered {
      border: 1px solid $blue;
      background-color: transparent;
      color: $blue;
      &:hover {
        color: $white;
      }
    }
    &:hover, &.active {
      // background-color: darken($blue, 20%);
      box-shadow: inset 0 0 6px darken($pureblack, 40%);
      color: lighten($blue, 10%);
    }
    &:active {
      background-color: darken($blue, 20%);
    }
    &.delete {
      // color: $red;
      // border: 1px solid transparent;
      box-sizing: border-box;
      &:hover {
        // border: 1px solid darken($red, 20%);
        background-color: $red;
        color: $white;
      }
      &:active {
        background-color: darken($red, 20%);
        color: $white;
      }
    }
    &.usb {
      &:after {
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        background-color: #bba60c;
        border-radius: 50%;
        position: absolute;
        top: 5px;
        left: 5px;
        box-shadow: -1px -1px 0px $pureblack;
      }
      &:hover {
        color: #bba60c;
      }
    }
    &.www {
      &:after {
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        background-color: #5e7e29;
        border-radius: 50%;
        position: absolute;
        top: 5px;
        left: 5px;
        box-shadow: -1px -1px 0px $pureblack;
      }
      &:hover {
        color: #5e7e29;
      }
    }
    &.rtsp {
      &:after {
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        background-color: #b46b7b;
        border-radius: 50%;
        position: absolute;
        top: 5px;
        left: 5px;
        box-shadow: -1px -1px 0px $pureblack;
      }
      &:hover {
        color: #b46b7b;
      }
    }
    &.hdmi {
      &:after {
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        background-color: #7e6bb4;
        border-radius: 50%;
        position: absolute;
        top: 5px;
        left: 5px;
        box-shadow: -1px -1px 0px $pureblack;
      }
      &:hover {
        color: #b46b7b;
      }
    }
    &.rss {
      &:after {
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        background-color: #508590;
        border-radius: 50%;
        position: absolute;
        top: 5px;
        left: 5px;
        box-shadow: -1px -1px 0px $pureblack;
      }
      &:hover {
        color: #508590;
      }
    }
    &.marquee {
      &:after {
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        background-color: #63513d;
        border-radius: 50%;
        position: absolute;
        top: 5px;
        left: 5px;
        box-shadow: -1px -1px 0px $pureblack;
      }
      &:hover {
        color: #63513d;
      }
    }
  }
  
  &.cancel {
    background-color: $gray;
    color: #666;
    border: 0;
    &.bordered {
      border: 1px solid $gray;
      background-color: transparent;
      color: $gray;
      &:hover {
        color: $white;
      }
    }
    &:hover {
      background-color: darken(#dcdcdc, 10%);
      box-shadow: inset 0 0 6px darken(#dcdcdc, 10%);
    }
    &:active {
      background-color: darken(#dcdcdc, 20%);
    }
  }
  &.edit {
    background-color: $green;
    color: $white;
    border: 0;
    &.bordered {
      border: 1px solid $green;
      background-color: transparent;
      color: $green;
      &:hover {
        color: $white;
      }
    }
    &:hover {
      background-color: darken($green, 10%);
      box-shadow: inset 0 0 6px darken($green, 10%);
    }
    &:active {
      background-color: darken($green, 20%);
    }
  }
  //Full
  &.full {
    display: block;
    margin: .5em 0;
    text-align: center;
    width: 100%;
  }
  //Size
  &.btn-small {
    padding: .2em .5em;
  }
}

.button-group {
  margin: .5em 0;
  .btn {
    
  }
}
