//CRAZY FONTS
@font-face { //雅風
  font-family: 'DFYa-W3-WIN-BF';
  src: url('../static/assets/fonts/DFYa-W3-WIN-BF.eot?#iefix') format('embedded-opentype'), url('../static/assets/fonts/DFYa-W3-WIN-BF.ttf')  format('truetype'), url('../static/assets/fonts/DFYa-W3-WIN-BF.svg#DFYa-W3-WIN-BF') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face { //華綜
  font-family: 'DFHuaZong-W5-WIN-BF';
  src: url('../static/assets/fonts/DFHuaZong-W5-WIN-BF.eot?#iefix') format('embedded-opentype'), url('../static/assets/fonts/DFHuaZong-W5-WIN-BF.ttf')  format('truetype'), url('../static/assets/fonts/DFHuaZong-W5-WIN-BF.svg#DFHuaZong-W5-WIN-BF') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face { //金文
  font-family: 'DFJinWen-W3-WIN-BF';
  src: url('../static/assets/fonts/DFJinWen-W3-WIN-BF.eot?#iefix') format('embedded-opentype'), url('../static/assets/fonts/DFJinWen-W3-WIN-BF.ttf')  format('truetype'), url('../static/assets/fonts/DFJinWen-W3-WIN-BF.svg#DFJinWen-W3-WIN-BF') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face { //行書
  font-family: 'DFXingShu-W5-WIN-BF';
  src: url('../static/assets/fonts/DFXingShu-W5-WIN-BF.eot?#iefix') format('embedded-opentype'), url('../static/assets/fonts/DFXingShu-W5-WIN-BF.ttf')  format('truetype'), url('../static/assets/fonts/DFXingShu-W5-WIN-BF.svg#DFXingShu-W5-WIN-BF') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face { //硬黑
  font-family: 'DFYingHeiU-W7-WIN-BF';
  src: url('../static/assets/fonts/DFYingHeiU-W7-WIN-BF.eot?#iefix') format('embedded-opentype'), url('../static/assets/fonts/DFYingHeiU-W7-WIN-BF.ttf')  format('truetype'), url('../static/assets/fonts/DFYingHeiU-W7-WIN-BF.svg#DFYingHeiU-W7-WIN-BF') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face { //正顏楷體
  font-family: 'DFYanKai-W5-WIN-BF';
  src: url('../static/assets/fonts/DFYanKai-W5-WIN-BF.eot?#iefix') format('embedded-opentype'), url('../static/assets/fonts/DFYanKai-W5-WIN-BF.ttf')  format('truetype'), url('../static/assets/fonts/DFYanKai-W5-WIN-BF.svg#DFYanKai-W5-WIN-BF') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face { //歐陽詢
  font-family: 'DFOYangXun-W5-WIN-BF';
  src: url('../static/assets/fonts/DFOYangXun-W5-WIN-BF.eot?#iefix') format('embedded-opentype'), url('../static/assets/fonts/DFOYangXun-W5-WIN-BF.ttf')  format('truetype'), url('../static/assets/fonts/DFOYangXun-W5-WIN-BF.svg#DFOYangXun-W5-WIN-BF') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face { //方圓
  font-family: 'DFFangYuan-W7-WIN-BF';
  src: url('../static/assets/fonts/DFFangYuan-W7-WIN-BF.eot?#iefix') format('embedded-opentype'), url('../static/assets/fonts/DFFangYuan-W7-WIN-BF.ttf')  format('truetype'), url('../static/assets/fonts/DFFangYuan-W7-WIN-BF.svg#DFFangYuan-W7-WIN-BF') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face { //儷黑
  font-family: 'DFLiHei-W5-WIN-BF';
  src: url('../static/assets/fonts/DFLiHei-W5-WIN-BF.eot?#iefix') format('embedded-opentype'), url('../static/assets/fonts/DFLiHei-W5-WIN-BF.ttf')  format('truetype'), url('../static/assets/fonts/DFLiHei-W5-WIN-BF.svg#DFLiHei-W5-WIN-BF') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face { //娃娃
  font-family: 'DFWaWa-W5-WIN-BF';
  src: url('../static/assets/fonts/DFWaWa-W5-WIN-BF.eot?#iefix') format('embedded-opentype'), url('../static/assets/fonts/DFWaWa-W5-WIN-BF.ttf')  format('truetype'), url('../static/assets/fonts/DFWaWa-W5-WIN-BF.svg#DFWaWa-W5-WIN-BF') format('svg');
  font-weight: normal;
  font-style: normal;
}
//EEEEE
@font-face {
  font-family: 'Verdana';
  src: url('../static/assets/fonts/Verdana.eot?#iefix') format('embedded-opentype'), url('../static/assets/fonts/Verdana.ttf')  format('truetype'), url('../static/assets/fonts/Verdana.svg#Verdana') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Strasua';
  src: url('../static/assets/fonts/Strasua.eot?#iefix') format('embedded-opentype'), url('../static/assets/fonts/Strasua.ttf')  format('truetype'), url('../static/assets/fonts/Strasua.svg#Strasua') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SegoeScript';
  src: url('../static/assets/fonts/SegoeScript.eot?#iefix') format('embedded-opentype'), url('../static/assets/fonts/SegoeScript.ttf')  format('truetype'), url('../static/assets/fonts/SegoeScript.svg#SegoeScript') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OratorStd';
  src: url('../static/assets/fonts/OratorStd.eot?#iefix') format('embedded-opentype'),  url('../static/assets/fonts/OratorStd.otf')  format('opentype'),
       url('../static/assets/fonts/OratorStd.woff') format('woff'), url('../static/assets/fonts/OratorStd.ttf')  format('truetype'), url('../static/assets/fonts/OratorStd.svg#OratorStd') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MicrosoftJhengHeiLight';
  src: url('../static/assets/fonts/MicrosoftJhengHeiLight.eot?#iefix') format('embedded-opentype'), url('../static/assets/fonts/MicrosoftJhengHeiLight.ttf')  format('truetype'), url('../static/assets/fonts/MicrosoftJhengHeiLight.svg#MicrosoftJhengHeiLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MicrosoftJhengHeiBold';
  src: url('../static/assets/fonts/MicrosoftJhengHeiBold.eot?#iefix') format('embedded-opentype'), url('../static/assets/fonts/MicrosoftJhengHeiBold.ttf')  format('truetype'), url('../static/assets/fonts/MicrosoftJhengHeiBold.svg#MicrosoftJhengHeiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CopperplateGothic-Light';
  src: url('../static/assets/fonts/CopperplateGothic-Light.eot?#iefix') format('embedded-opentype'), url('../static/assets/fonts/CopperplateGothic-Light.ttf')  format('truetype'), url('../static/assets/fonts/CopperplateGothic-Light.svg#CopperplateGothic-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ComicSansMS';
  src: url('../static/assets/fonts/ComicSansMS.eot?#iefix') format('embedded-opentype'), url('../static/assets/fonts/ComicSansMS.ttf')  format('truetype'), url('../static/assets/fonts/ComicSansMS.svg#ComicSansMS') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BerlinSansFBDemi-Bold';
  src: url('../static/assets/fonts/BerlinSansFBDemi-Bold.eot?#iefix') format('embedded-opentype'), url('../static/assets/fonts/BerlinSansFBDemi-Bold.ttf')  format('truetype'), url('../static/assets/fonts/BerlinSansFBDemi-Bold.svg#BerlinSansFBDemi-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ARBERKLEY';
  src: url('../static/assets/fonts/ARBERKLEY.eot?#iefix') format('embedded-opentype'), url('../static/assets/fonts/ARBERKLEY.ttf')  format('truetype'), url('../static/assets/fonts/ARBERKLEY.svg#ARBERKLEY') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FuturaBT-Book';
  src: url('../static/assets/fonts/FuturaBT-Book.eot?#iefix') format('embedded-opentype'), url('../static/assets/fonts/FuturaBT-Book.ttf')  format('truetype'), url('../static/assets/fonts/FuturaBT-Book.svg#FuturaBT-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
	font-size: 87.5%;
  font-family: 'Proxima-nova','Arial', sans-serif;
}