/****************************************************************
*****************************************************************
********************Variables Settings***************************
*****************************************************************
*****************************************************************/

/******************************
************COLORS************
******************************/

$white: 					#ffffff;
$pureblack: 				#000000;
$black: 					#1A1A1A;
$gray: 						#cccccc;
$lightgray: 				#dddddd;
$smokygray: 				#f7f7f7;
$darkgray: 					#666666;
$darkestgray: 				#222222;

/* Common Colors */
$yellow: 					#ffd150;
$red: 						#bf2020;
$blue: 						#3668b3;
$green: 					#44846f;
$orange: 					#bf4b13;
$purple:					#732ebf;

//Set Single Main Color
// $main: #1565c0; //#16B590
//Default
$main: 						#3c434c;
$text-hover: 				shade( $main, 20% );
$background-hover: 			shade( $main, 20% );
$body-background: 			$smokygray;

//NAK
$main-nak: 					#ffffff;
$main-nak-opsite: 			#008569;
$text-hover: 				shade( $main, 20% );
$background-hover: 			shade( $main, 20% );
$body-background: 			$smokygray;

//Selections
$selection: #ECF5FF;
/******************************
************FONTS************
******************************/
$sans-serif: "Roboto","source-han-sans-traditional",'Noto Sans TC',"Helvetica Neue",Arial,"Heiti TC","LiHei Pro","微軟正黑體","Microsoft Jhenghei", sans-serif;
$serif: serif;
$font-size: 87.5%;
$font-size-h1: 2.4em;
$line-height: 1.6;

/******************************
*****Container Restriction*****
******************************/
$restrict: 1170px; /*Usually set as your page wide. ex. 1170px, 960px */
$restrict-small: 700px;
$restrict-tiny: 550px;


/******************************
*************Form*************
******************************/
$input-height: 36px;
$label-size: 90px;


/******************************
***********Nvaigator***********
******************************/
$submenu-width: 180px;
